body, html {
	margin: 0px;
	padding: 0px;
	background: #4B4C3C;
	width: 100%;
	height: 100%;
}

#wrapper {
	margin: 0px;
	width: 70%;
	height: 100%;
	margin-left: 15%;
	background: #57470C;
}

#header {
	width: 100%;
	height: 15%;
	background: #968148;
	border-bottom: 1px solid black;
}

#menu {
	width: 40%;
	float: left;
	margin-left: 10%;
	word-spacing: 15px;
}

#meta {
	width: 40%;
	float: left;
	text-align: right;
	margin-right: 10%;
}

#meta, #menu {
margin-top: 7%;
}

#menu ul, #meta ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu ul li, #meta ul li {
	display: inline;
}

#menu ul li a, #meta ul li a {
	padding: 0.2em;
	text-decoration: none;
	color: black;
}

#menu ul li a:hover, #meta ul li a:hover {
	text-decoration: underline;
	color: red;
}

#menu ul li a#current {
	background: #57470C;
	padding-bottom: 0.5em;
	color: white;
	border: 1px solid black;
	border-bottom: none;
}

/*#time {
	float: right;
	padding: 1%;
	text-align: right;
}*/