body, html {
	margin: 0px;
	padding: 0px;
	background: #4B4C3C;
	width: 100%;
	height: 100%;
}

a {
	color: #000;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: #828282
}

#wrapper {
	margin: 0px;
	width: 70%;
	height: 100%;
	margin-left: 15%;
	background: #57470C;
	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
}

#header {
	width: 100%;
	height: 15%;
	background: #968148;
	border-bottom: 1px solid black;
}

#intro {
	margin-left: 9%;
	width: 60%;
	float: left;
	color: #C9C9B1;
}

#menu {
	width: 40%;
	float: left;
	margin-left: 10%;
}

#meta {
	width: 40%;
	float: left;
	text-align: right;
	margin-right: 10%;
}

#meta, #menu {
	margin-top: 7.1%;
}

#menu ul, #meta ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	word-spacing: 15px;
}

#menu ul li, #meta ul li {
	display: inline;
}

#menu ul li a, #meta ul li a {
	padding: 0.2em;
	text-decoration: none;
	color: black;
}

#menu ul li a:hover, #meta ul li a:hover {
	text-decoration: underline;
	color: red;
}

#menu ul li a#current {
	background: #57470C;
	padding-bottom: 0.5em;
	color: white;
	border: 1px solid black;
	border-bottom: none;
}

/*#time {
	float: right;
	padding: 1%;
	text-align: right;
}*/

#news {
	width: 25%;
	float: right;
	margin: 1em;
	padding: 0.5em;
	font-size: 60%;
}

#news h2 a {
	color: #F2F2E8;
	text-decoration: none;
}

#news h2 a:hover {
	color: #9C9A69;
	text-decoration: underline;
}

#news a.feed {
	color: #F2F2E8;
	float: right;
	text-decoration: none;
}

#news a.feed:hover {
	color: #9C9A69;
	text-decoration: underline;
}

.single_news {
background: #968148;
border: 1px solid black;
width: 60%;
padding: 0.5em;
margin: 0.5em;
}

.single_news h3 a{
color: #4B4C3C;
text-decoration: none;
}

.single_news h3 a:hover {
text-decoration: underline;
}

.single_news h5 a {
text-decoration: none;
}

.single_news h5 a:hover {
text-decoration: underline;
}

.single_news h5 a:visited {
color: black;
}